<div class="container">
  <h1>Add a Movie to Your Watch List</h1>
  <div class="form-group">
    <%= form_tag('/movies/search', method: 'get') do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag 'Search', type: :submit, class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>

  <%= 'Sorry, movie cannot be found.' if @movies.empty? %>
  <div class="row equal-height">
    <% @movies.each do |mov| %>
    <div class="col-sm-3">
      <div class="card bg-light text-center">
        <img class="card-img-top" src="<%= "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{mov.poster_path}" %>" alt="<%= mov.original_title %>">
        <div class="card-body">
          <h4 class="card-title"><%= mov.original_title %></h4>
        </div>
        <div class="card-footer">
        <%= form_with model: @movie, local: true, action: 'create' do |f| %>
          <%= f.hidden_field :original_title, value: mov.original_title %>
          <%= f.hidden_field :poster_path, value: mov.poster_path %>
          <%= f.hidden_field :overview, value: mov.overview %>
      <%= f.submit "add", class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
    </div>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>
