<h1>Saved Movies</h1>
<% @movies.each do |movie| %>
  <%= movie.title %>
<% end %>

Popular Movies:
<% @popular.each do |pop| %>
<ul>
  <%= pop.original_title %>
  <li><img src="<%= "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{pop.poster_path}" %>"/></li>
  </ul>
<% end %>

Now playing:
<% @playing.each do |play| %>
<ul>
  <%= play.original_title %>
  <li><img src="<%= "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{play.poster_path}" %>"/></li>
  </ul>
<% end %>
