<h1>Create a new group event</h1>

<div>
  <%= form_with model: @group, local: true do |f| %>
  <% if @group.errors.any? %>
    <div id="explain_error">
      <h2>
        Uh oh!
        <%= pluralize(@group.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>
      <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
    <%= f.label "Give your movie night a name:" %>
    <%= f.text_field :title %>
    <br>
    <%= f.label "And a description..." %>
    <%= f.text_area :description %>
    <br>
    <%= f.label "When is movie night happening?" %>
    <%= f.date_select :event_date, :default => Date.today %>
    <br>
    <%= f.label "What time?" %>
    <%= f.time_select :event_time, :default => Time.now, ampm: true, minute_step: 15 %>
    <br>
    <%= f.submit %>
  </div>
<% end %>
</div>
