<div class="container">
  <h1>Plan Your Next Movie Night!</h1>
  <%= form_with model: @group, local: true do |f| %>
    <% if @group.errors.any? %>
      <div id="explain_error">
        <h2>
          Uh oh!
          <%= pluralize(@group.errors.count, "error") %>
          prohibited this post from being saved:
        </h2>
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
    <div class="form-group">
    <%= f.label "Give your movie night a name:" %>
    <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.label "And a description..." %>
    <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-row">
    <div class="col">
    <%= f.label "When is movie night happening?" %>
    <%= f.date_select :event_date, :default => Date.today %>
    </div>
    <div class="col">
    <%= f.label "What time?" %>
    <%= f.time_select :event_time, :default => Time.now, minute_step: 15, ampm: true %>
    </div>
    </div>
    <%= f.submit 'Create Movie Night', class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
