<h1>Group: <%= @group.title %> </h1>
<br>
<h2>Description: <%= @group.description %></h2>
<br><br>

Members: <br>
<% @members.each do |member| %>
      <%= member.email %>
    <br>
<% end %>
<br>
<br>

<% if !@members.ids.include? current_user.id %>
  <%= link_to "Join this group", join_group_path(@group) %>
<% end %>

<h2>  Add Movies to <%= @group.title %> List:</h2>
<p>Select movies from your Watchlist and click "Add" to the movies for the group</p>
<br>
<%= form_tag(@group_watch) do %>
  <ul>
    <%= collection_check_boxes(:group, :movie_ids, @user.movies, :id, :original_title) do |b| %>
    <%= hidden_field_tag(:id, @group.id)%>

      <%= b.check_box %>
      <%= b.label %>

    <% end %>
  </ul>
  <%= submit_tag "Add Movie to Group List" %>
<% end %>



<br><br>

<h1>Group's movies</h1>
<% @group.group_watchlists.each do |itm| %>
  <ul>
    <li>
      <<%= itm.movie.original_title %> <br>
      <img src="<%= "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{itm.movie.poster_path}" %>"/> <br>
      <%= link_to "remove movie from watchlist", group_watchlist_path(itm), method: :delete %> <br>
    </li>
  </ul>
<% end %>
