<div class="container">
  <div class="row">
    <div class="col-8">
      <h1><%= @group.title %> </h1>
      <h3>Movie night description: <%= @group.description %></h3>
      <h4><%= local_time(@group.event_time, '%l:%M%P') %> on <%= local_time(@group.event_date, '%B %e, %Y') %></h4>
    </div>
    <div class="col">
      <h3>Members: </h3>
      <% @members.each do |member| %>
        <ul class="list-group">
          <li class="list-group-item"><%= member.email %></li>
        </ul>
      <% end %>
      <br>
      <% if !@members.ids.include? current_user.id %>
        <%= link_to "Join this group", join_group_path(@group), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <% if @members.ids.include? current_user.id %>
    <h2> Add Movies to the <%= @group.title %> Movie Night Watchlist:</h2>
    <p>Select movies from your Watchlist and click "Add" to the movies for the group</p>
    <% if @user.user_watchlists.empty? %>
      <h5>Looks like you don't have any movies to pick from! Why don't you add some to your own Watch List first?</h5>
      <%= link_to "Search for Movies", movies_path, class: "btn btn-primary" %>
    <% else %>
    <div class="form">
      <%= form_tag(@group_watch) do %>
        <%= collection_check_boxes(:group, :movie_ids, @user.movies, :id, :original_title) do |b| %>
        <div class="form-check">
          <%= hidden_field_tag(:id, @group.id)%>
          <div class="form-check-label">
            <%= b.check_box class: "form-check-input"  %>
            <%= b.label  %>
          </div>
        </div>
        <% end %>
        <%= submit_tag "Add Movie to Group List", class: 'btn btn-primary movList' %>
      <% end %>
    </div>
  <% end %>

  <br>

  <div>
    <h1 class="display-4 text-center">Top Movie:</h1>
    <% if @group.group_watchlists.empty?%>
      <h5>Looks like this group has no movies added yet.</h5>
    <% else %>
    <% g = @group.movies.order(:cached_weighted_average => :desc).first %>
    <% if g.get_upvotes.empty? %>
      <h5>Looks like no one has voted yet. Go cast your vote for what movie we should watch!</h5>
    <% else %>
      <img src="<%= "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{g.poster_path}" %>" class="img-fluid mx-auto d-block" alt="Responsive image">
      <p class="lead text-center"><strong><%= g.original_title %></strong> is in the lead with <%= pluralize(g.get_upvotes.size, 'vote') %>!</p>
    <% end %>
  </div>
    <% end %>

  <h1>Group's Watchlist:</h1>
  <% if @group.group_watchlists.empty? %>
    <h5>Looks like this group has no movies to vote for. Why don't you add some?</h5>
  <% end %>
  <div class="row equal-height">
    <% @group.group_watchlists.each do |itm| %>
    <div class="col-sm-3">
      <div class="card text-center">
        <img class="card-img-top" src="<%= "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{itm.movie.poster_path}" %>" alt="Movie Poster">
        <div class="card-body">
          <h4 class="card-title "> <%= itm.movie.original_title %></h4>
          <%= link_to like_movie_path(itm.movie), method: :put do %> <i class="far fa-thumbs-up fa-lg"></i><% end %>
          <%= itm.movie.get_upvotes.size %> <br> <br>
          <%= link_to dislike_movie_path(itm.movie), method: :put do %> Remove Vote <% end %> <br>
          <!-- TODO Add logic so only the person who added it can remove it - is that possible? -->
          <%= link_to "remove from watchlist", group_watchlist_path(itm), method: :delete, class: 'btn btn-sm btn-primary' %> <br>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
