<div class="container">
  <h1 class="display-1 text-center">Welcome to MovieNight</h1>
  <p class="lead text-center">We make planning your next movie night with friends simple.</p>


    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("/images/nick-hidalgo.jpg", class: "d-block w-100") %> 
          <div class="carousel-caption">
            <h3>Save Movies</h3>
            <p>Search our collection of movies and add your favorites to your very own Watch List.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" image_tag("/images/georgia-vagim.jpg") alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Host Movie Nights</h3>
            <p>Organize a Movie Night with friends and create group Watch Lists for your next get together.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" image_tag("/images/kilyan-sockalingum.jpg") alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Pick Your Next Flick</h3>
            <p>Group members can add movies from their Watch List to the group List and vote on what you should watch at your next Movie Night!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

<section class="mt-5">

  <h4 class="text-center">Sign in</h2>

  <div class="row">
      <div class="col-sm-10 offset-sm-1 text-center">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </section>
  </div>

</div>
