<!DOCTYPE html>
<html>
  <head>
    <title>MovieNight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #990033;">
      <%= link_to "MovieNight", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <% if signed_in? %>
          <li class="nav-item">
            <%= link_to "Dashboard", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Browse Movies", movies_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Watch List", movies_watchlist_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Movie Nights", groups_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to log out?"}, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>

    <nav class="navbar bottom navbar-light bg-light">
      <a class="navbar-brand"> <nano>This product uses the TMDb API but is not endorsed or certified by TMDb.</nano> <a href="https://www.themoviedb.org/"<img src="/assets/tmdb.png" alt="The Movie Database"> </a></a> 
    </nav>
  </body>
</html>
